<launch>
    <arg name="simulate_motors" default="false" />
    <arg name="raspberry" default="false" />
    <arg name="viz" default="false" />
    <arg name="model" default="$(find robot_description)/urdf/cortex.xacro"/>
    <arg name="rvizconfig" default="$(find mecanum)/rviz/robot.rviz" />

    <rosparam command="load" file="$(find robot_2018)/param/mecanum.yaml" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <include file="$(find navigation)/launch/map.launch" />
    <include file="$(find navigation)/launch/initialpose.launch" />
    <include if="$(arg raspberry)" file="$(find strategy)/launch/startup_conf.launch" />

    <node name="mecanum" pkg="mecanum" type="mecanum.py" />
    <node name="encoder_odom" pkg="mecanum" type="encoder_odom.py" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group if="$(arg simulate_motors)">
        <node name="motor_sim" pkg="mecanum" type="motor_sim.py" />
    </group>

    <group if="$(arg viz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    </group>
</launch>
