<launch>
    <arg name="team" default="unknown" />
    <arg name="raspberry" default="false" />
    <arg name="viz" default="false" />
    <arg name="model" default="$(find robot_description)/urdf/minus.xacro"/>
    <arg name="rvizconfig" default="$(find differential_driver)/rviz/robot.rviz" />

    <!-- Robot description -->
    <rosparam command="load" file="$(find robot_2018)/param/wheel.yaml" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <!-- Navigation -->
    <include file="$(find navigation)/launch/move_base.launch">
        <arg name="robot" value="minus" />
    </include>

    <!-- Strategy -->
    <include file="$(find strategy)/launch/startup_conf.launch">
        <arg name="raspberry" value="$(arg raspberry)" />
        <arg name="team" value="$(arg team)" />
        <arg name="robot" value="minus" />
    </include>

    <include file="$(find strategy)/launch/minus_strategy.launch" />

    <!-- Motion -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Differential driver lib implementation -->
    <include file="$(find differential_driver)/launch/minus.launch" />

    <!-- Visualization -->
    <group if="$(arg viz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    </group>
</launch>
