<launch>
    <arg name="team" default="unknown"/>
    <arg name="robot" default="cortex"/>
    <arg name="raspberry" default="true" />

    <rosparam command="load" file="$(find strategy)/param/pins.yaml" />
    <rosparam command="load" file="$(find strategy)/param/initial.yaml" />
    <rosparam command="load" file="$(find strategy)/param/game.yaml" />

    <param name="team" value="$(arg team)" />
    <param name="robot" value="$(arg robot)" />

    <!--<node name="game" pkg="strategy" type="start_game.py" respawn="true"/>-->

    <!-- Load the node with different args if the raspberry arg is set -->
    <node if="$(arg raspberry)" name="startup_conf" pkg="strategy" type="startup_conf.py" args="-r" />
    <node unless="$(arg raspberry)" name="startup_conf" pkg="strategy" type="startup_conf.py" />
</launch>